<ion-view view-title="RSS" ng-controller="RSSCatelogCtrl as vm">
	
	<ion-nav-buttons side="right">
		<button  ng-if="!vm.removeMode" class="button button-clear icon ion-ios-search"></button>
		<button  ng-if="vm.removeMode" class="button button-clear" ng-click="vm.cancelRemoveMode()">Cancel</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="left">
		<button  ng-if="vm.removeMode" class="button button-clear icon ion-ios-trash" ng-click="vm.removeSelectedCatelog()"></button>
		<button  ng-if="!vm.removeMode" class="button button-clear icon ion-plus-round" ui-sref="app.subRss"></button>
	</ion-nav-buttons>
	
   	<ion-content class="has-header">
   		<ion-refresher pulling-text="Pull to refresh" on-refresh="vm.refreshCatelogs()">
    	</ion-refresher>
		<div class="list" >
			<div class="item item-icon-right item-text-wrap" ng-repeat="catelog in vm.rssCatelogs" on-hold="vm.switchRemoveMode()">
				<div ui-sref="app.rssFeeds({catelogId: catelog._id, catelogTitle: catelog.title})" ng-if="!vm.removeMode">
					<div>{{catelog.title}}</div>
					<div>{{catelog.subtitle}}</div>
					<i class="icon ion-chevron-right icon-accessory"></i>
				</div>
				<div ng-if="vm.removeMode" ng-click="vm.selectRemoveItem(catelog._id)">
					<label class="checkbox">
       					<input type="checkbox">
     			    </label>
					<div>{{catelog.title}}</div>
					<div>{{catelog.subtitle}}</div>	
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>