<ion-view view-title="Search" ng-controller='SearchCtrl as vm'>
	<ion-content class="has-header">
		<div class="list">
		  <label class="item item-input">
		    <input type="text" placeholder="input stock name" ng-model="vm.stockName" ng-change="vm.searchAutoComplete(vm.stockName)">
		  </label>
		  <div class="row item" ng-repeat="stock in vm.searchResult">
				<div class="col col-center">
				  	<a ng-class="{false: 'button button-positive icon ion-plus', true: 'button button-assertive icon ion-checkmark'}[stock.checked]" ng-click="vm.setFavorite(stock)"></a>
		  		</div>
		  				
		  		<span class="col col-center">{{stock.code}}</span>
		  		<span class="col col-center">{{stock.name}}</span>
		  </div>
		</div>
	</ion-content>
</ion-view>