.icon-grid{
  padding: 5px 0;
  margin: 0px;
}

.icon-cell {
  display: block;
  padding: 5px 0 0 0;
  text-align: center;  
}

.icon-cell a{
  text-decoration: none;
}

.icon-cell .icon{
  display: block;
  height: 32px;
  color: #387ef5;
  font-size: 40px;
}

.icon-cell .text{
  color: #333;
  padding: 0;
  font-size: 12px;
  text-align: center;
}