/* Empty. Add your own CSS if you like */
.slider { height: 30%; text-align: center }
.scroll { height: 100% }
.slider-slide {
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}


/*it's conflict with ionic style*/
/*.button.icon{
	
	min-height: 35px;
	min-width: 35px;

}

.button.icon:before{
	line-height: 35px;
	min-height: 35px;
}

.button.icon:after{
	line-height: 35px;
	min-height: 35px;

}*/

/*catelog*/
.item .checkbox{
    position: absolute;
    right: 10px;
    top: 16px;
}

/*feed details style*/
.item .item-date{
    color: #aaa;
    position: absolute;
    bottom: 10px;
    
}

.item .item-ignore{
    color: #aaa;
    position: absolute;
    left: 150px;
    bottom: 10px;
}

.item .title{
   font-weight: bold;
   padding-top: 5px;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}



/*feed details*/
.floatTool{
    padding: 0px 10px 0px 10px;

    display: block;
}

.origin{
   padding: 10px;
   color: blue; 
}


.floatTool li{
    padding: 0 5px;
    display: block;
    font-size: 18px;
    color: #;
    line-height: 30px;
    float: left;
}

.floatTool li span{
    font-size: 13px;
    padding: 0 5px;
}


.entryBody{
	color: #333;
	font-size: 0.9rem;
	word-break: break-word;
	/*font-family: "Slab Serif", sans-serif;*/
	-webkit-font-smoothing: antialiased;
    line-height: 1.75em;
	max-width: 647px; 
	margin-left: 1rem;
	margin-right: 1rem;
}

.entryBody p{
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.entryBody a{
	color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #CCC;
}

.entryBody a:visited {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #CCC;
}

.entryBody h4{
    font-size: 1.2rem;
    font-weight: 700;
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.5rem;
    text-transform: none;
    clear: both;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: -0.04em;
    color: #333333;
}

.entryBody img{

    max-width: 100%;
 	/*width: 100%;*/
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    border-radius: 3px;
    border: 1px solid rgb(239, 239, 239);

}